body{
    font-family: sans-serif;
    text-align:center;
}
#menu{ 

    text-align:center;
    text-decoration: none;
    color:black;
}
.parallax {
  /* The image used */
  background-image: url("header.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}